{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="container">
    <h1>Alphacorp > accueil</h1>
    <p class="description">
      Ce site se destine à tous les élèves ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic modi ea animi odio, voluptatibus officiis repellat eius id ipsa sapiente suscipit eos architecto nesciunt culpa ducimus nihil doloremque vitae pariatur?
    </p>
  </div>
{% endblock %}
{% block additional_css %}
<style>
html {
  font-size: 22px
}
</style>
{% endblock %}